*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1{
    height: 100vh;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#photo{
    overflow: hidden;
}